
.navigate{
    position: absolute;
    top: 10;
    left: 0;
}
.navigation{
    padding: 5px;
    font-weight: 500;
    border-radius: 2px;
}
.orange{
    background-color: orange;
    
}

.vacant{
    border: 1px solid black;
    margin-top: 10px;
}